<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
          <title>Web POC for OCR</title>
  </head>
  <body><center>

    <div class="container">
      <div class="header">
        <h3 class="text-muted">Upload Any Image File.</h3>
      </div>
      <hr/>
      <div>
      
      <form action="images" method="post" enctype="multipart/form-data">
        <input type="file" name="file" value="Choose Your File"><br /><br />
        <input type="submit" value="Upload">
      </form>
      </div>

    </div>
    <table>
      <tr>
          <td>
              Uploaded Image
              </td>
        <td>
        <img src=>
        </td>



      </tr>
     <tr>
     
     </tr>

    </table>
    </div>

    </div>

  </center>
  </body>
</html>
 